.custom-navbar .navbar-nav .nav-link {
    color: white;
    font-family: Arial, sans-serif;
}

.custom-navbar .navbar-brand {
    color: white;
    font-family: Arial, sans-serif;
}
.custom-navbar .navbar-nav .nav-link.active {
    font-weight: bold;
}